.ViewApp{
	padding:0px;
}
.ViewApp > .Tab{
	/*background-color: #234;*/
}

.ViewApp > .Tab > ul .LinkButton{
	padding-bottom: 4px;
	padding-left: 4px;
	box-shadow:none;	
}

.ViewApp > .Tab > ul .LinkButton a,.ViewApp > .Tab > ul .LinkButton a:hover{
	box-shadow:none;
	border-bottom:2px solid transparent;
	color: #ccc;
	font-weight: bolder;
}

.ViewApp > .Tab > ul .LinkButton.active a,.ViewApp > .Tab > ul .LinkButton.active a:hover{
	color:#fff;
	border-bottom-color:#fff;
}