node_modules
bower_components
.tscache
.baseDir.ts
.baseDir.d.ts
.baseDir.js
app/br/
app/br/config
public/index.html
public/js/br
public/js/lib
public/assets/avatars
public/js/app.js
gitconfig.txt
ata3.sublime-workspace
