<div data-idreuniao="{id}" class="col-xs-12 col-sm-12 col-md-12">
	<h3>{nrTrimestre} º trimestre de {ano}</h3>
</div>
{for-atividades:atividade}
<div data-idconvite="{atividade.id}" class="tilecell list-group-item col-xs-12 col-sm-4 col-md-4" style="min-height:230px">
	<h4>
		<span data-indconv="{atividade.id}" class="label label-{atividade.iconStatus} convite_drag">{atividade.codRefMLS}-{atividade.descricao}</span>
	</h4>
	<p class="list-group-item-text">{atividade.hora}Hs</p>
	<p class="list-group-item-text">PROPOSITO:{atividade.proposito}</p>
	<p class="list-group-item-text">LOCAL:{atividade.local} - {atividade.vestuario}</p>	
	<p class="list-group-item-text">ORCAMENTO:{atividade.orcamento},00R$</p>
	<p class="list-group-item-text">PARA:{atividade.publicoAlvo}</p>
	<p class="list-group-item-text alert-{atividade.iconStatus}">{atividade.dsObservacao}
</div>
{/for}