<div each="ievento in $data" data-indx="{$index}" class="tilecell list-group-item col-xs-12 col-sm-4 col-md-4" style="min-height:270px">
	<h4>
		<span class="{'alert-'+ievento.iconStatus}"> {ievento.codRefMLS}</span>
		<span>-{ievento.descricao}</span>
	</h4>
	<p class="list-group-item-text">{ievento.datalivre.dsData} {ievento.hora}Hs</p>
	<p class="list-group-item-text">PROPOSITO:{ievento.proposito}</p>
	<p class="list-group-item-text">LOCAL:{ievento.local} - {ievento.vestuario}</p>	
	<p class="list-group-item-text">ORCAMENTO:{ievento.orcamento},00R$</p>
	<p class="list-group-item-text">PARA:{ievento.publicoAlvo}</p>
	<p class="list-group-item-text alert-{iconStatus}">{ievento.dsObservacao}</p>
</div>