<div class="top_adm_menu bg-primary col-xs-12">
  <div onclick="{$this.showMenu(true)}" class="col-xs-1 col-sm-1 column pull-left">
    <span style="font-size:20px;margin-top:5px;margin-bottom:10px" class="glyphicon glyphicon-th-list pull-left"></span> 
  </div>
  <div class="col-xs-11 col-sm-11 column menu_main">
    <ul if="(!$this.showMenus)" class="nav nav-pills menu_adm">
      <li class="navitem pull-right">
        <a onclick="{$this.showPerfis()}" style="padding: 1px 0px 2px 2px" class="btnmenu" href="#">
          <img style="border:2px solid #04dd90;border-radius:30%;margin:0px 2px 0px 0px;max-width:30px;width:30px;height:30px;" alt="Photo" src="{'assets/avatars/avatar_' + $this.idUsuario + '.png?cache_picture='+$this._avatarcache}" class="nav-user-photo"/>
          <span class="hidden-xs">{$this.loginUsuario}</span>
        </a>
      </li>
    </ul>
    <div class="tab-content tab_content_menu" style="padding:0px">
      <ul if="($this.perfisVisibles && !$this.showMenus)" class="{'menu_adm_item pull-right nav nav-pills'}">
        <li each="iusuarioPerfil in $this.usuarioPerfis" class="navitem">
          <a class="btnmenu" href="{'#'+$index}" onclick="{$this.setIdPerfil(iusuarioPerfil.idPerfil)}">
            <span class="{'imgI glyphicon iconeinput '+(iusuarioPerfil.idPerfil==$this.idPerfilSelected?'glyphicon-ok':'')}"></span>
            <span>{' '+iusuarioPerfil.perfil.descricao.toUpperCase()}</span>
          </a>
        </li>        
      </ul>
    </div>
  </div>
</div>
<div class="{($this.showMenus)?'is-visible':'is-hidden'}" id="sidebar2" class="bg-primary">
  <ul class="nav nav-pills bg-primary">
    <li style="margin-left:2px;margin-bottom: 20px;margin-top: 6px" class="navitem">
      <a style="padding:4px 0px 14px 8px;" class="btnmenu" href="#">
        <img style="border:none;margin:0px 2px 0px 0px;width:50px;height:50px;float:left" alt="Photo" src="{'assets/avatars/avatar_' + $this.idUsuario + '.png?cache_picture='+$this._avatarcache}" class="nav-user-photo"/>
        <span style="color:#fff;font-weight:normal;float:left;width:175px"> {$this.loginUsuario}</span>
        <span onclick="{$this.setAvatar()}">Trocar Foto</span>
      </a>
    </li>
    <li each="menu in $this.menus" class="navitem">
      <a class="{'btnmenu '+($index==$this.menu_selected?'active':'')}" href="{'#'+$index}" onclick="{$this.setMenuIndex($index)}">
        <span class="{'imgI glyphicon iconeinput glyphicon-'+menu.icone}"></span>
        <span>{' '+menu.label.toUpperCase()}</span>
      </a>
      <ul if="($this.menus.length > 0 && $this.menu_selected==$index)" class="menu_adm_item nav nav-pills bg-primary">
      <li each="item_menu in $this.menus[$this.menu_selected].children" class="navitem">
        <a href="#" onclick="{$this.loadModule(item_menu.tela, item_menu.label,item_menu.icone,item_menu.funcao||'')}">
          <span>{item_menu.label}</span>
        </a>
      </li>
    </ul>
    </li>
  </ul>
</div>

<div if="$this.showMenus" onclick="{$this.showMenu(false)}" class="bgBlockOpack"></div>