<div class="row clearfix top_adm_menu bg-primary">
	<div class="pull-left col-xs-2 col-sm-1 column logo_menu">
		<span class="img-responsive center-block glyphicon iconeinput glyphicon-leaf"></span>
		<h4 class="hidden-xs">Ata 3.1</h4>
	</div>
	<div class="col-xs-10 col-sm-11 column menu_main">
		<ul class="nav nav-pills menu_adm">
			<li each="menu in $data.menus" class="navitem menu_adm_active">
				<a class="{'btnmenu '+($index==$data.menu_selected?'active':'')}" href="{'#'+$index}" onclick="{$data.setMenuIndex($index)}">
					<span class="{'imgI glyphicon iconeinput glyphicon-'+menu.icone}"></span>
					<span>{' '+menu.label.toUpperCase()}</span>
				</a>
			</li>
			<li class="navitem pull-right">
				<a onclick="{$data.showPerfis()}" style="padding: 8px 0px 6px 6px" class="btnmenu" href="#">
					<img style="border:2px solid #04dd90;border-radius:30%;margin:-4px 5px 0 0;max-width:30px;width:30px;height:30px;" alt="Photo" src="{'assets/avatars/avatar_' + $data.idUsuario + '.png?cache_picture='+$data._avatarcache}" class="nav-user-photo"/>
					<span class="hidden-xs">{$data.loginUsuario}</span>
				</a>
			</li>
		</ul>
		<div class="tab-content tab_content_menu" style="padding:0px">
			<ul if="(!$data.perfisVisibles && $data.menus.length > 0)" class="{'menu_adm_item nav nav-pills'}">
				<li each="item_menu in $data.menus[$data.menu_selected].children">
					<a href="#" onclick="{$data.loadModule(item_menu.tela, item_menu.label,item_menu.icone,item_menu.funcao||'')}">
						<span>{item_menu.label.toUpperCase()}</span>
					</a>
				</li>
			</ul>
			<ul if="$data.perfisVisibles" class="{'menu_adm_item pull-right nav nav-pills'}">
				<li each="iusuarioPerfil in $data.usuarioPerfis" class="navitem">
					<a class="btnmenu" href="{'#'+$index}" onclick="{$data.setIdPerfil(iusuarioPerfil.idPerfil)}">
						<span class="{'imgI glyphicon iconeinput '+(iusuarioPerfil.idPerfil==$data.idPerfilSelected?'glyphicon-ok':'')}"></span>
						<span>{' '+iusuarioPerfil.perfil.descricao.toUpperCase()}</span>
					</a>
				</li>
				<li class="navitem">
					<a class="btnmenu" href="#" onclick="{$data.setAvatar()}">
						<span class="imgI glyphicon iconeinput glyphicon-picture"></span>
						<span>Trocar Foto</span>
					</a>
				</li>
				
			</ul>
		</div>
	</div>
</div>
