.banner_login{
	padding-top:3px;
}
.banner_login img.logo_menu{
	margin:0px auto;
}

.banner_login .logo_menu span, .top_adm_menu .logo_menu span{	
	text-align: center;
	border: 1px solid #FFF;
	border-radius: 50%;
}

.banner_login .logo_menu span{
	margin-top:5px;
	margin-bottom:10px;
	font-size: 40px;
	width: 60px;
	height: 60px;
	line-height: 65px;
}
.label-as-badge {
	border-radius: 5%;
	padding: 4px;
}