<div each="iitemmenu in $this" data-indx="{$index}" class="tilecell list-group-item col-xs-12 col-sm-12 col-md-12">
	<h5 style="overflow:hidden">
		<span class="{'glyphicon glyphicon-'+iitemmenu.icone}"></span>
		<span> {iitemmenu.label}</span>
	</h5>
	<p class="list-group-item-text">ICONE:{iitemmenu.icone}</p>
	<p class="list-group-item-text">ORDEM:{iitemmenu.ordem}</p>
	<!--<p class="list-group-item-text">TELA:{tela}</p>-->
	<p class="list-group-item-text" style="overflow:hidden">{iitemmenu.funcao}</p>
</div>